.thumb {
  border-radius: 1rem;
  overflow: hidden;
  
  margin-bottom: 1rem;
}

.header {
  display: flex;
}

.header h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  flex: 1;
}

.header span {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 600;
  color: #503E9D;
  background-color: #EDECF5;
  padding: 5px 10px;
  border-radius: 4px;
}